@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;  
}
.common-padding{
    padding:0 150px;
}

.nav{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo, nav {
    width: 50%;
}

.logo {
    display: flex;
    align-items: center;
}
.logo h3 {
    margin-left: 5px;
}

.logo h3 span {
    color:#FF5400
}

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    color: #FF5400;
    font-weight: 800;
}

.active {
    color: #FF5400;
    font-weight: 800;
}

.hamburger {
    display: none;
}

.banner{
    height: 400px;
    width: 100%;
    background-image: url("/Assets/Group\ 13\ \(1\)\ \(1\).png");
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-main {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 223;
}

.overlay {
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    height: 400px;
    background: linear-gradient(to bottom, rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.1));;
    border-radius: 15px;
}

.main-title{
    color: #fff;
    font-weight: 800;
    font-size: 64px;
    line-height: normal;
}

.short-des{
    width: 600px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 20px 0;
    text-align: center;
}

.form-wrapper{
    background-color: rgb(255, 255, 255, 0.3);
    padding: 16px;
    border-radius: 10px;
}

.form-inner {
    display: flex;
    justify-content: space-between;
    width: 630px;
}

#findNowForm .form-inner input, select, button {
    padding: 12px 10px;
    border-radius: 5px;
    border: none;
    width: 150px;
}

/* #findNowForm .form-inner button {
    background-color: #FF5400;
    color: #fff;
} */
button {
    background-color: #FF5400;
    color: #fff;
}

.popular{
    display: flex;
    padding-top: 80px ;
    /* padding-bottom: 50px ; */
    height: 650px;
    width: 100%;
}

.popular-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 10px;
}

.popular-card, .popular-image-wrapper{
    width: 50%;
}

.section-title {
    font-size: 30px;
}

.popular-image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popular-image {
    height: 100%;
    width: 100%;
}

.popular .popular-card ul{
    margin-left: 20px;
    margin-right: 20px;
}

.popular-card p, .popular-card ul {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.popular-image-wrapper{
    height: 100%;
}

/* destination section start */

.destination, .choose {
    width: 100%;
    padding-top: 80px
}

.destination-top, .choose-top {
    width: 100%;
    text-align: center;
}

.destination-top p, .choose-top p {
    width: 500px;
    margin: 30px auto;
}

.destination-image-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px
}

.destination-image-grid div {
    height: 250px;
    position: relative;
}

.destination-image-grid div p {
    font-size: 28px;
    font-weight: 800;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.destination-image-grid div img{
    height: 100%;
    width: 100%;
}

.destination-image-grid > div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.destination-image-grid > div:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 5;
}

.destination-image-grid > div:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 2;
}

.destination-image-grid > div:nth-child(4) {
    grid-column-start: 2;
    grid-column-end: 4;
}

.destination-image-grid > div:nth-child(5) {
    grid-column-start: 4;
    grid-column-end: 5;
}

.destination-image-grid > div:nth-child(6) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.destination-image-grid > div:nth-child(7) {
    grid-column-start: 3;
    grid-column-end: 5;
}

/* choose section start */

.choose {
    width: 100%;
}

.service-wrapper {
    display: flex;
    flex-wrap: wrap ;
    gap: 10px;
    justify-content: center;
}

.service-wrapper div {
    height: 250px;
    width: 49%;
    background-color: #FBB56333;
    border-radius: 10px;
    padding: 20px;

}

.service-wrapper div h3 {
    font-size: 24px;
    margin: 20px 0px;
}
.service-wrapper> div:nth-child(2) {
    background-color: #29CEF633;
}

/* Get Lost Section */

.lost{
    display: flex;
    padding-top: 80px ;
    /* padding-bottom: 50px ; */
    height: 450px;
    width: 100%;
}

.lost-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 10px;
}

.lost-card, .lost-image-wrapper{
    width: 50%;
}

.section-title {
    font-size: 30px;
}

.lost-video-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.lost-video {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.lost .lost-card ul{
    margin-left: 20px;
    margin-right: 20px;
}

.lost-card p, .lost-card ul {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.lost-image-wrapper{
    height: 100%;
}

/* contact section */
.contact{
    display: flex;
    padding-top: 80px ;
    padding-bottom: 80px ;
    /* padding-bottom: 50px ; */
    height: 530px;
    width: 100%;
}

.contact-card {
    width: 45%;
    border: 1px solid #FF5400;
    border-radius: 15px;
    margin-right: 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}


.contact-card h3 {
    font-size: 24px;
    margin: 20px 0px;
}

.contact-image-wrapper {
    width: 60%;
    position: relative;
}

.contact-image {
    width: 100%;
    height: 100%;
}

.contact-card h3 {
    font-size: 24px;
    margin: 20px 0px;
}

.contact-card p {
    color: #5A5A5D;
    font-weight: 400;
}

.contact-card hr {
    border: 1px solid #1313181A;
    margin: 20px 0;
}

.newsletter-form-control {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.newsletter-input {
    margin-bottom: 15px;
    background-color: #1313180D;
    color: #1313184D;
    border: none;
    padding: 10px 12px;
    border-radius: 10px;
}

.subscribe-button {
    width: 100%;
    font-size: 15px;
    font-weight: 800;
}

.coupon-tag {
    background-color: #FF5400;
    padding: 25px 35px;
    width: 250px;
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 58px;
    right: 10px;
    rotate: -30deg;
    border-radius: 15px;
}

footer {
    background-color: #1313180D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 130px 
}

footer div {
    display: flex;
    align-items: center;
}

footer div h3 {
    font-size: 32px;
    font-weight: 800;
    margin-left: 5px;
}

footer div h3 span {
    color: #FF5400
}

footer p {
    width: 550px;
    text-align: center;
    margin: 40px 0;
}

footer hr {
    border: 1px solid #1313181A;
    width: 800px;
    margin: 40px 0;
}
 

@media screen and (max-width: 768px) {
    nav {
        display: none;
    }
    /* .mobile-nav {
        display: block;
    } */
    .banner {
        height: 90vh;
    }
    .common-padding{
        padding:0 20px;
    }
    .hamburger {
        display: block;
    }
    .main-title {
        font-size: 22px;
    }
    .short-des {
        font-size: 14px;
        width: 330px;
        font-weight: 400;
    }
    .form-inner {
        width: auto;
        flex-direction: column;
        height: 250px;
    }
    #findNowForm .form-inner input, select, button {
        padding: 12px 10px;
        border-radius: 5px;
        border: none;
        width: 350px;
    }

    .popular, .lost, .contact{
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        height: auto;
        width: 100%;
    }
    .popular-card, .popular-image-wrapper, .lost-card, .lost-video-wrapper, .contact-card, .contact-image-wrapper{
        width: 100%;
    }
    .popular-button, .lost-button {
        width: 200px;
        /* margin-left: auto; */
        margin-right: auto;
        margin-top: 30px
    }
    .popular-image-wrapper, .lost-video-wrapper, .contact-image-wrapper {
        margin-top: 20px;
    }

    .destination {
        padding-top: 30px;
    }
    .destination-image-grid {
        display: flex;
        flex-direction: column;
        gap: 10px

    }
    .destination-image-grid > div {
        width: 100%;
    }

    .destination-top p, .choose-top p {
        width: auto;
        margin: 30px auto;
    }
    
    .service-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
    }
    
    .service-wrapper div {
        width: 100%;
    }

    .choose {
        padding-top: 30px;
    }

    footer div h3 {
        font-size: 22px;
        font-weight: 800;
        margin-left: 5px;
    }
    
    footer div h3 span {
        color: #FF5400
    }
    
    footer p {
        text-align: center;
        margin: 40px 0;
        width: 300px;
        font-size: 14px;
    }
    
    footer hr {
        border: 1px solid #1313181A;
        width: 100%;
        margin: 40px 0;
    }
    footer div {
        margin-top: 80px
    }
}