@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;  
}
.common-padding{
    padding:0 150px;
}

.nav{
    height: 80px;
}

.banner{
    height: 400px;
    width: 100%;
    background-image: url("/Assets/Group\ 13\ \(1\)\ \(1\).png");
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-main {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 223;
}

.overlay {
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    height: 400px;
    background: linear-gradient(to bottom, rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.1));;
    border-radius: 15px;
}

.main-title{
    color: #fff;
    font-weight: 800;
    font-size: 64px;
    line-height: normal;
}

.short-des{
    width: 600px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 20px 0;
    text-align: center;
}

.form-wrapper{
    background-color: rgb(255, 255, 255, 0.3);
    padding: 16px;
    border-radius: 10px;
}

.form-inner {
    display: flex;
    justify-content: space-between;
    width: 630px;
}

#findNowForm .form-inner input, select, button {
    padding: 12px 10px;
    border-radius: 5px;
    border: none;
    width: 150px;
}

/* #findNowForm .form-inner button {
    background-color: #FF5400;
    color: #fff;
} */
button {
    background-color: #FF5400;
    color: #fff;
}

.popular{
    display: flex;
    padding-top: 80px ;
    /* padding-bottom: 50px ; */
    height: 650px;
    width: 100%;
}

.popular-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.popular-card, .popular-image-wrapper{
    width: 50%;
}

.section-title {
    font-size: 30px;
}

.popular-image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popular .popular-card ul{
    margin-left: 20px;
    margin-right: 20px;
}

.popular-card p, .popular-card ul {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.popular-image-wrapper{
    height: 100%;
}

/* destination section start */

.destination {
    width: 100%;
    padding-top: 80px
}

.destination-top {
    width: 100%;
    text-align: center;
}

.destination-top p {
    width: 500px;
    margin: 30px auto;
}

.destination-image-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px
}

.destination-image-grid div {
    height: 250px;
    position: relative;
}

.destination-image-grid div p {
    font-size: 28px;
    font-weight: 800;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.destination-image-grid div img{
    height: 100%;
    width: 100%;
}

.destination-image-grid > div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.destination-image-grid > div:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 5;
}

.destination-image-grid > div:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 2;
}

.destination-image-grid > div:nth-child(4) {
    grid-column-start: 2;
    grid-column-end: 4;
}

.destination-image-grid > div:nth-child(5) {
    grid-column-start: 4;
    grid-column-end: 5;
}

.destination-image-grid > div:nth-child(6) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.destination-image-grid > div:nth-child(7) {
    grid-column-start: 3;
    grid-column-end: 5;
}